* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 24px 96px;
    background-color: #1f2937;
    gap: 48px;
}

.header-top {
    display: flex;
    gap: 25px;
}

.hero-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.header-down {
    display: flex;
    align-items: center;
    gap: 48px;
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.left > button {
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-weight: bold;
    width: 100px;
}

.sri {
    padding: 48px;
}

.info-title {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}

.information {
    display: flex;
    padding: 48px 96px;
    justify-content: center;
    gap: 48px;
}

.card > img {
    width: 150px;
    border: #3882F6 3px solid;
    border-radius: 6px;
}

.card {
    text-align: center;
    width: 150px;  
}

.card > p {
    color: grey;
}

.quotes {
    display: flex;
    flex-direction: column;
    background-color: #E5e7EB;
    padding: 96px 240px;
    gap: 24px;
}

.text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.thor {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.sign-up-header {
    display: flex;
    padding: 48px 96px;
    margin: 96px 148px;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: space-between;
}

.lefty {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cta {
    font-size: 24px;
    color: #E5E7EB;
    font-weight: bold;
}

.tagline {
    font-size: 18px;
    color: #E5E7EB;
}

.sign {
    color: white;
    background-color: #3882F6;
    border: white 2px solid;
    border-radius: 5px;
    padding: 6px;
    font-weight: bold;
    font-size: 16px;
    width: 100px;
}
.main-image {
    width: 100%;
}

a {
    text-decoration: none;
}